body {
    background-image: url("https://images.unsplash.com/photo-1533777324824-a4d9f624f2ab?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
    background-size: cover;
    text-align: center;
    animation: animation-name 10s infinite;
}
@keyframes animation-name {
    0%   {background-position:left;}
    100% {background-position:right;}
}
h1 {
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    text-shadow: 4px 4px 0px purple, -4px -4px 0px purple;
    animation: animation-name-h1 2s infinite;
}
@keyframes animation-name-h1 {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
form {
    background-color: #ff9f43;
    padding: 30px;
    border: 20px solid #ff6b6b;
    border-radius: 80px;
    box-shadow: 4px 4px 0px green, -4px -4px 0px blue;
    transform: rotate(15deg);
}
label {
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 2px 0px purple;
    animation: animation-name-label 2s infinite;
}
@keyframes animation-name-label {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}
input {
    font-size: 30px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #ffd1dc;
}
button {
    font-size: 30px;
    padding: 15px 30px;
    border-radius: 70px;
    border: none;
    background-color: #ff00ff;
    color: white;
    box-shadow: 4px 4px 0px #ff69b4, -4px -4px 0px #ff69b4;
}
.zany-message{
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    text-shadow: 4px 4px 0px purple, -4px -4px 0px purple;
    animation: animation-name-h1 2s infinite;
}
