<!DOCTYPE html>
<html>
<head>
    <title>Zany Label Printer</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href='https://fonts.googleapis.com/css2?family=Pacifico&family=Fredoka+One' rel='stylesheet'>
</head>
<body>
    <h1>Welcome to the Zany Label Printer</h1>
    <form method="post">
        <label for="label">Enter label:</label>
        <input type="text" id="label" name="label" required>
        <button type="submit">Print NOW</button>
    </form>
</body>
</html>
