<!DOCTYPE html>
<html>
<head>
    <title>oomlout_label_printing_python_flask_svg_replace</title>    
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>oomlout_label_printing_python_flask_svg_replace</h1>
        <form method="post">
            <label for="label">enter label</label>
            <input type="text" id="label" name="label" required>
            <button type="submit">print</button>        
        </form>
        <br>
        <br>
    </div>
    <div class="container">
        <h1>Last Five Entries</h1>
        <ul>
            {% for entry in entries %}
                <li>{{ entry }}</li>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>
